body{
    background-image: url(imagens/fundo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-color:transparent;
    
    }



h1{
    border-width: 50px, 10px;
    text-align:left;
    font-family:serif;
    color:darkgoldenrod;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #000;
    font-size: 4.8em; color:;
    
   }   

.subtitulo{
             font-size: 35px;
             color:darkgoldenrod;
             
    
            -webkit-text-stroke-width:0.9px;
            -webkit-text-stroke-color: #000;
          }

h2{
    font-size: 20px;
    color:
     
  }


div.rodape{
    top:800px;
    position: absolute;
    width: 98%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:serif;
    color:black;
    font-size: 35px;
    background-image: linear-gradient(yellow,orange, black);
     
        }
div.Mensagem{
    position: absolute;
    top:350px;
    width: 99%;
    background-color: rgba(236, 190, 67, 0.7);
    font-size: 30px;
    text-align: center;
    
}

.botao{
    <button type="button" onclick="alert('Hello world!')">Cadastrar</button>
    <button type="button" onclick="alert('Hello world!')">Entrar</button>
}


li{
    color:black;
    font-size: 28px;
    padding-bottom: 18px;
  }

    

a{
    color:black;
    text-decoration: none;
    font-size: 35px;
}

p{
    text-align: center;
    width: 750;
    height:auto;
    color:black;
    background-color: rgba(208, 210, 22, 0.3);
    font-size:35px;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    
}